{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_form_inner %}
    {{ parent() }}

    {% block page_product_detail_product_alert_form %}

        {# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}
        {% set product = page.product %}

        {% if product.isCloseout and product.availableStock < product.minPurchase %}
            <br>
            <div class="product-detail-product-alert">
                <div class="product-detail-ordernumber-container">
                    {% block page_product_detail_product_alert_form_info %}
                        <span class="product-detail-ordernumber">
                            {{ "productAlert.formInfo"|trans|sw_sanitize }}
                        </span>
                    {% endblock %}
                </div>

                <form id="productDetailPageOutOfStockForm"
                      action="{% block page_product_detail_product_alert_form_action %}{{ path('sales-channel-api.action.product.alert.sign', {'version': 1}) }}{% endblock %}"
                      method="post"
                      class="buy-widget"
                      data-product-alert="true">

                    <div id="product-alert-alert" class="hidden"></div>
                    <div class="form-row">
                        <div class="col-8">
                            <input type="hidden" name="productId" value="{{ product.id }}">
                            <input type="email"
                                   class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                                   autocomplete="section-personal email"
                                   id="email"
                                   placeholder="{{ "account.personalMailPlaceholder"|trans|striptags }}"
                                   name="email"
                                   required="required"/>
                        </div>
                        <div class="col-4">
                            <button type=submit class="btn btn-primary btn-block btn-buy"
                                    title="{{ "productAlert.signInText"|trans|striptags }}"
                                    aria-label="{{ "productAlert.signInText"|trans|striptags }}">
                                {{ "productAlert.signInText"|trans|sw_sanitize }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}