{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_form_inner %}
    {{ parent() }}

    {% block page_product_detail_product_alert_form %}

        {# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}
        {% set product = page.product %}

        {% if product.stock <= 0 %}
            <br>
            <div class="product-detail-product-alert">
                <form id="productDetailPageOutOfStockForm"
                      action="{% block page_product_detail_product_alert_form_action %}{{ path('frontend.checkout.line-item.add') }}{% endblock %}"
                      method="post"
                      class="buy-widget"
                      data-add-to-cart="true">

                    <div class="form-row">
                        <div class="col-8">
                            <input type="email"
                                   class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                                   autocomplete="section-personal email"
                                   id="personalMail"
                                   placeholder="{{ "account.personalMailPlaceholder"|trans|striptags }}"
                                   name="email"
                                   value="{{ data.get('email') }}"
                                   required="required">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary btn-block btn-buy"
                                    title="{{ "detail.snipText"|trans|striptags }}"
                                    aria-label="{{ "detail.snipText"|trans|striptags }}">
                                {{ "detail.snipText"|trans|sw_sanitize }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}